*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #222;
  color: rgb(224, 222, 222);
  font-family: system-ui;
  
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
.board{
  width: fit-content;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.board .game{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relativs;
}
.square.is-selected{
  color: #fff;
  background: #09f;
}

.square{
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

.turn{
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.turn .square{
  font-size: 30px;
  width: 70px;
  height: 70px;
  border-color: transparent;
}

.winner{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items:center;
}